<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}

.show .card {
    margin: 10px;
    text-align: center;
}

.card-title {
    background-color: transparent;
    margin: 0;
}


</style>
<body>
    <main>
       
        <nav class="navbar navbar-expand-lg bg-warning">
            <div class="container-fluid">
              
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./listdescontos.html">Descontos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listvendas.html">Vendas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listskins.html">Skins</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listcupons.html">Cupons</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
            

          <h2>Olá, bem-vindo ao sistema </h2>
          <div class="row resume">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Vendas feitas</h5>
                      <p class="card-text">Já foram feitas 250656 vendas</p>
                   
                  </div>
              </div>
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Skin produzidas</h5>
                      <p class="card-text">Foram produzidas 458 8 skins</p>
                   
                  </div>
              </div>
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Gamers</h5>
                      <p class="card-text">Existem 546654 gamers ativos</p>
                   
                  </div>
              </div>
             
          </div>
          <div class="row show">
              <div class="card bg-success" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Cupons</h5>
                      <p class="card-text">18</p>
                  </div>
              </div>
              <div class="card bg-primary" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Descontos</h5>
                      <p class="card-text">24</p>
                  </div>
              </div>
              <div class="card bg-secondary" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Usuarios Online</h5>
                      <p class="card-text">6547</p>
                  </div>
              </div>
              <div class="card bg-danger" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Km</h5>
                      <p class="card-text">180000</p>
                  </div>
              </div>
              <div class="card bg-info" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title border-bottom p-3">Transações</h5>
                      <p class="card-text">1500</p>
                  </div>
              </div>
          </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>