<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listando Descontos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listdescontos.html">Descontos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listvendas.html">Vendas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listskins.html">Skins</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./listcupons.html">Cupons</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
       <h2>Listando Descontos</h2>
        <section class="listdesconto">
            <div class="row">
              <a href="./adddesconto.html" class="btn btn-warning">Cadastrar novo desconto</a>
            </div>
            <div class="row border border-2 border-warning rounded m-2 p-2">
                <div class="col border-end d-flex justify-content-center align-self-center">Valor desconto:</div>
                <div class="col border-end d-flex justify-content-center align-self-center">$4</div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-info">Details</button></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-success">Update</button></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-danger">Delete</button></div>
            </div>
            <div class="row border border-2 border-warning rounded m-2 p-2">
                <div class="col border-end d-flex justify-content-center align-self-center">Valor desconto:</div>
                <div class="col border-end d-flex justify-content-center align-self-center">$4</div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-info">Details</button></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-success">Update</button></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-danger">Delete</button></div>
            </div>
            <div class="row border border-2 border-warning rounded m-2 p-2">
                <div class="col border-end d-flex justify-content-center align-self-center">Valor desconto:</div>
                <div class="col border-end d-flex justify-content-center align-self-center">$4</div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-info">Details</button></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-success">Update</button></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><button class="btn bg-danger">Delete</button></div>
            </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>